@font-face{ font-family: Bebas; src: url('../fonts/BebasNeue.ttf');}

h1{
    text-align: center;
    color:indianred;
    font-size: 800%;
    font-family: Bebas;
    height: 60px
}

body{
    background-color:whitesmoke;
}

img{
    display: block;
    margin: 0 auto;
    padding: 20px
}

ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 90px;
    overflow: hidden;
    background-color: indianred;
}

li{
    float: center;
    font-family: Bebas;
}

li a{
    display: block;
    border-left: 3px solid whitesmoke;
    color: whitesmoke;
    font-size: 200%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: crimson;
}

.active{
    background-color: darkred;
}

.images{
    border: 10px solid indianred;
    margin: auto;
    max-width: 800px
}

.first{
    padding-top: 20px;
}

.last{
    padding-bottom: 20px;
}